# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/bazel-cache/
*.tsbuildinfo

# Node
/node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml
debug.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/

# Miscellaneous
/.angular/cache
.sass-cache/
*.css.map
/karma_coverage/
/jest_coverage/
.connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
