<nav class="navbar">
  <div class="navbar-container">

    <a routerLink="/" class="navbar-brand">
      <img ngSrc="assets/icons/padlock-logo.png" alt="CrunchyCom Logo"
           class="logo-icon" height="50" width="50">
      <span class="brand-name text-white">CrunchyCom</span>
    </a>

    <ul class="nav-links">
      <li>
        <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li>
        <a routerLink="/article" routerLinkActive="active-link">Articles</a>
      </li>
      <li>
        <a routerLink="/resources" routerLinkActive="active-link">Resources</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active-link">About</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
      </li>
    </ul>

  </div>
</nav>
